### Exercise 1: One Hot Encoding for multiple categorical values

Import the libraries and load the CSV file

In [17]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [23]:
data = pd.read_csv('mercedes.csv', usecols = ['X1','X2','X3','X4','X5','X6'])

#data.head(); data.shape; #data.info(); #data.describe(); data.columns;#data.isnull().sum()
#data.values; data.groupby('X1')['X2'].value_counts();
#type(data.groupby('X1')['X2'].value_counts()); 
#(data.groupby('X1')['X2'].value_counts()).to_frame(); 
#data.groupby('X1')['X2'].count();
#data.groupby('X1')['X2'].count().head()
##(data.groupby('X1')['X2'].value_counts()).to_frame()
###my_top10_unique = [df[df_col].value_counts().head(10).index for df_col in df.columns]
    #print(df_col)

In [24]:
def one_hot_encoding(df,df_col):
    my_top10_unique = df[df_col].value_counts().head(10).index
    for label in my_top10_unique:
        df_new_col = str(df_col)+'_'+str(label)
        df[df_new_col] = np.where(df[df_col]==label,1,0)
    return df

In [25]:
#Now loop through each columns and call the function passing the current
#column value and in return get updated dataframe with features columns
for col in data.columns:
    df = one_hot_encoding(data, col)
data.head()

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0